@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
}
/* shared styles */
.display-flax{
    display: flex;
}
body{
    max-width: 1300px;
    margin: 0 auto;
}
main{
    max-width: 1110px;
    margin: 0 auto;
}
section{
    margin-top: 100px;
}

/* navbar related style */
.brand{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    align-items: center;
    gap: 34px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}
/* banner related style */
.banner-section{
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 582px;
}
.banner-img{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 474px;
    width: 474px;
    margin:30px 0;
    
}
.banner-img img{
    padding-top: 25px;
    
}


.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 70px;
    margin-bottom: 16px;
}
.banner-description{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 35px;
}
.banner-button{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
    border-radius: 41px;
    border: none;
    font-size: 1rem;
    font-weight: 700;

}
.banner-button i{
    margin-left:5px;
}
/* company name section style */
.company-name{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 0px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent, #6c6d6e, transparent) 1;
}
/* product section start style */
.product-main-title{
    color: #3A3A3A;
    text-align: center;
    font-size: 1.75rem; 
    font-weight: 600;
    margin-bottom: 30px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.product-image{
    width: 100%;
    object-fit: cover;
}
.product-card{
    box-shadow: 2px 2px 15px rgba(170, 170, 170, 0.4);
    border-radius: 5px;
    padding: 17px;
    

}
.product-title{
    font-size: 1.75rem;
    margin: 16px 0 6px 0;
    font-weight: 500;
    line-height: 40px;
}
.dolar-title{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
}
.product-description{
    margin: 0;
    color: #787885;
}
.star-img{
    width: 70px;
}
.star-text{
    color: #5E6366;
}
.star-box{
    gap: 5px;
    align-items: center;
    margin: -10px 0;
}
.product-button{
    background-color: transparent;
    border: none;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 30px;
    padding: 0 20px;
    width: 100%;
    text-align: right;
}

/* Small device responsive */
@media screen and (max-width: 576px) {
    section{
        margin-top: 50px;
    }
    .navbar, .nav-links, .banner-section{
        flex-direction: column;
    }
    .banner-section{
        flex-direction: column-reverse;
        width: 100%;
    }
    .nav-links{
        gap: 15px;
    }
    .nav-item{
       margin-right: 40px;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
        line-height: normal;
    }
    .banner-img{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 257px;
    width: 257px;
    margin:30px auto;
    }
    .banner-img img{
        width: 202px;
        height: 202px;
        justify-content: center;
        padding: 25px;
    }
    .company-name{
       border: 0;
       padding: 0;
        
    }
    .product-main-title{
        font-size: 1rem;
    }
    .product-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: 0 20px;
}
}



/* Small device responsive */
@media screen and (min-width: 576px) and (max-width:992px) {
    .nav-links{
        gap: 15px;
    }
}